<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div id="wrapper">
        <div id="nav_bar">
            <h1>Hello, {{user.first_name}}</h1>
            <a href="/profile">Profile |</a>
            <a href="/forum">Forum |</a>
            <a href="/edit">Add Food |</a>
            <a href="/edit">Add Exercise |</a>
            <a href="/logout">Logout</a>
        </div>

        <div id="header">
            <button class="day_button"> Prev.</button>
            <h2>{{date}} </h2>
            <button class="day_button">Next </button>
        </div>

        <div class="logs">
            <h3>Breakfast: </h3>
            {% for meal in meals %}
                {% if meal.meal_tag == "breakfast" and meal.eater == user %}
                    <p> <a href="/meals/{{meal.id}}/destroy" >Remove</a><strong> {{meal.meal.food_name}} </strong> : {{meal.meal.food_calories}} calories</p>
                {% endif %}
            {% endfor %}
        </div>

        <div id="calorie_tracker">
            <h2>Calories:</h2>
            <p>Food: (calorie sum) </p>
            <p>Exercise: (calorie sum)</p>
            <p>Net Calories:(difference in calorie sums)</p>
        </div>

        <div class="logs">
            <h3>Lunch:</h3>
            {% for meal in meals %}
                {% if meal.meal_tag == "lunch" and meal.eater == user %}
                <p> <a href="/meals/{{meal.id}}/destroy">Remove</a><strong> {{meal.meal.food_name}} </strong> : {{meal.meal.food_calories}} calories</p>
                {% endif %}
            {% endfor %}
        </div>

        <div id="weight_tracker">
            <h3>Weight Tracker:</h3>
            {% for weight in weights %}
                {% if weight.weigher == user %}
                    <p>Current Weight: {{weight.weigh_in}} </p>
                {% endif %}
            {% endfor %}
            <form action="/add_weight" method="post">
            {% csrf_token %}
                <p>Update Weight (lbs): </p>
                <input type="number" name="weight" width="100">
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="logs">
            <h3>Dinner:</h3>
            {% for meal in meals %}
                {% if meal.meal_tag == "dinner" and meal.eater == user %}
                <p> <a href="/meals/{{meal.id}}/destroy" class="remove_link">Remove</a><strong> {{meal.meal.food_name}} </strong> : {{meal.meal.food_calories}} calories</p>
                {% endif %}
            {% endfor %}
        </div>

        <div id="activity_log">
            <h4>Activity Log:</h4>
            <ul>
                <!-- The activities are not loading correctly- it breaks -->
                <li> </li>
            </ul>
        </div>

        <div class="logs">
            <h3>Snacks:</h3>
            {% for meal in meals %}
                {% if meal.meal_tag == "snack" and meal.eater == user %}
                <p> <a href="/meals/{{meal.id}}/destroy" class="remove_link">Remove</a><strong> {{meal.meal.food_name}} </strong> : {{meal.meal.food_calories}} calories</p>
                {% endif %}
            {% endfor %}
        </div>

        <div class="logs">
            <h3>Exercise:</h3>
            {% for exercise in exercises %}
                {% if exercise.exerciser == user %}
                    <p><a href="/exercises/{{exercise.id}}/destroy" class="remove_link">Remove</a> <strong>{{exercise.exercise_name}} </strong> : {{exercise.exer_calories}} calories</p>
                {% endif%}
            {% endfor %}
        </div>
    </div>
</body>

</html>