<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<body>
    <div id="wrapper">
        <div id="nav_bar">
            <h1>Message Board:</h1>
            <a href="/dashboard">Dashboard  |</a>
            <a href="/profile">Profile  |</a>
            <a href="/logout">Logout</a>
        </div>

        <div id= messages>
            <form action="/add_message" method="post">
            {% csrf_token %}
                <input type="textarea" name="message" placeholder="Your message here.">
                <button type="submit">Add Message</button>
            </form>
            <div id="comments">
                <form action="/add_comment" method="post">
                {% csrf_token %}
                    <input type="textarea" name="comment" placeholder="Your message here."> 
                    <button type="submit">Add Comment</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>