<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script defer src="{% static 'script/index.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="wrapper">
        <div id = 'nav_bar'>
            <h1>CalTracker</h1>
            <div id="nav_links">
                <a  href="login">Login  |  Registration</a>
            </div>
        </div>

        <div id="header">
                <h2>Benefits of CalTracker</h2>
            <div id="headerContainer">
                <div class= "header_block">
                    <h3 id="community">Community</h3>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo laudantium tempora dolorum, vitae magni officiis illo culpa voluptatibus ipsa itaque. </p>
                </div>
                <div class= "header_block">
                    <h3>Food Tracking</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore debitis, nostrum quia rem hic qui quas, ex ipsa obcaecati minima! Facere sed?</p>
                </div>
                <div class= "header_block">
                    <h3>Exercise Tracking</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere exercitationem facilis doloribus voluptatum sunt molestias dolorem, libero vel eius vero! </p>
                </div>
            </div>
        </div>

        <div id="module-container">
            <div id= "quiz-container">
                <h4>Test Your Knowledge:</h4>
                <div id = "question-container" class="hide">
                    <div id = "question">Question</div>
                    <div id="answer-buttons" class= "btn-grid">
                        <button class="btn">Answer 1</button>
                        <button class="btn">Answer 2</button>
                        <button class="btn">Answer 3</button>
                        <button class="btn">Answer 4</button>
                    </div>
                </div>
                <div class = "controls">
                    <button id="start-btn" class="start-btn btn">Test Your Knowledge</button>
                    <button id="next-btn" class="next-btn btn hide">Next</button>
                </div>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>


            <div id="blogs">
                <h4><a href="/blogs">Blogs</a> </h4>
            </div>
        </div>

        <footer>
            <p>footer here:</p>
            <p>company icons-twitter, google, facebook. careers, about, etc.</p>
        </footer>
        
    </div>
    
</body>
</html>