<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="wrapper">
        <div id = 'nav_bar'>
            <h1>CalTracker</h1>
            <div id="nav_links">
                <a  href="login">Login  |  Registration</a>
            </div>
        </div>

        <div id="header">
                <h2>Benefits of CalTracker</h2>
            <div id="headerContainer">
                <div class= "header_block">
                    <h3>Blogs</h3>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo laudantium tempora dolorum, vitae magni officiis illo culpa voluptatibus ipsa itaque. </p>
                </div>
                <div class= "header_block">
                    <h3>Food Tracking</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore debitis, nostrum quia rem hic qui quas, ex ipsa obcaecati minima! Facere sed?</p>
                </div>
                <div class= "header_block">
                    <h3>Exercise Tracking</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere exercitationem facilis doloribus voluptatum sunt molestias dolorem, libero vel eius vero! </p>
                </div>
            </div>
        </div>

        <div id= "game">
            <h4>Game:</h4>
        </div>

        <div id="stats">
            <h4>CalTracker Stats:</h4>
        </div>

        
    </div>
</body>
</html>