<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="wrapper">
        <div id = 'nav_bar'>
            <h1>CalTrack</h1>
            <a href="login">Login  |  Registration</a>
        </div>

        <div id="header">
            <h2>Benefits of CalTracker</h2>
            <div>
                <div class= "header_block">
                    <h3>Blogs</h3>
                    <p> lorem Ipsum </p>
                </div>
                <div class= "header_block">
                    <h3>Food Tracking</h3>
                    <p> lorem Ipsum </p>
                </div>
                <div class= "header_block">
                    <h3>Exercise Tracking</h3>
                    <p> lorem Ipsum </p>
                </div>
            </div>
        </div>

        <div id="stats">
            <h4>CalTracker Stats:</h4>
        </div>

        <div id= "game">
            <h4>Game:</h4>
        </div>
    </div>
</body>
</html>