<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLogin & Registration</title>
</head>
<body>
    <div id="wrapper">
        <div id="nav_bar">
            <h1>Login/Registration</h1>
            <a href="/">Back</a>
        </div>

        <div id= "register">
            <h1>Register</h1>
            <form action="/register" method="post">
            {% csrf_token %}
                <p>First Name: </p>
                <input type="text" name= "fname">
                
                <p>Last Name:</p>
                <input type="text" name="lname">

                <p>Email:</p>
                <input type="email" name="email">

                <p>Password:</p>
                <input type="password" name="password">

                <p>Confirm Password:</p>
                <input type="password" name="confirmpw">

                <button type="submit">Register</button>
            </form>
        </div>

        <div id="login">
            <h1>Login</h1>
            <form action="/login" method="post">
            {% csrf_token %}
                <p>Email:</p>
                <input type="email" name="email">

                <p>Password:</p>
                <input type="password" name="password">

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>