<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div id ="wrapper">

        <div id="nav_bar">
            <h1> CalTracker</h1>
            <div id="nav_links">
                <a href="/dashboard">Dashboard  |</a>
                <a href="/blogs">Blogs  |</a>
                <a href="/logout">Logout</a>
            </div>
        </div>


        <div id="personal_info">
            <img id="profile_pic" src="static/images/placeholder.jpg" alt="">
            <p>{{user.first_name}} {{user.last_name}}</p>
        </div>

        <div id="column_container">
            <div id = "left_column">

                <div class="profile_bubble">
                    <h3>Activity Log:</h3>
                    <ul>
                        <li> You did something today</li>
                    </ul>
                </div> 

                <div class="profile_bubble">
                    <h3>Friends List</h3>
                    <ul>
                        <li>Friend 1</li>
                    </ul>
                </div>
            </div>

            <div id="right_column">
                <div class="profile_bubble">
                    <h3>Today's Food: </h3>
                    {% for meal in meals %}
                        {% if meal.eater == user %}
                            <p><a class="link" href="/meals/{{meal.id}}/destroy" >Remove | </a> <a class="link" href="/meals/{{meal.id}}/edit" >Edit</a><strong> {{meal.meal.food_name}} </strong> : {{meal.meal.food_calories}} calories</p>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="profile_bubble">
                    <h3>Today's Calories:</h3>
                    <p><strong>Food</strong>: {{food_cals.total_cals}} calories</p>
                    <p><strong>Exercise</strong>: {{exer_cals.total_cals}} calories</p>
                </div>
        
                <div id="weight_tracker" class="profile_bubble">
                    <h3>Weight Tracker:</h3>
                    <div id="current_weight">
                        {% for weight in weights %}
                            {% if weight.weigher == user %}
                                <p>Current Weight: {{weight.weigh_in}} </p>
                            {% endif %}
                        {% endfor %}
                        <p>{{last_weight}}</p>
                    </div>
                    <div id="update_weight">
                        <form action="/add_weight" method="post">
                        {% csrf_token %}
                            <p>Update Weight (lbs): </p>
                            <input type="number" name="weight" width="100">
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>CalTracker</p>
            <p>Member Resources | Connect with Us |  Our Team</p>
            <img src="static/images/icons.jpg" alt="online_social_sites">
        </footer>

    </div>
</body>
</html>