/* Table of contents
1.global styles
2. typography
3. components 
    3.1 header form
    3.2 day button
    3.3 P-tags
    3.4 weight tracker form input.
    3.5 weight tracker button
    3.6 remove link

*/

/* 
==============
global styles
==============
  */

:root{
    font-size: 1 em; 
}

body {
    background-color: rgb(78, 78, 78);
}

#wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width: 95%;
    margin: auto;
    background-color: rgb(190, 190, 190);
    border: .4rem groove rgb(133, 133, 133);
}

#nav_bar {
    background-color: rgb(143, 143, 197);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-end;
    padding: 1.5rem;
    max-width: 90%;
}

#header {
    border-radius: 1rem;
    background-color: white;
    margin: .75rem;
    padding-left: 2rem;
    height: 2.5rem;
    max-width: 90%;
}

.logs {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    vertical-align: top;
    padding: .4rem;
    margin: .75rem;
    height: 7rem;
    border-radius: 1rem;
}

#calorie_tracker {
    max-width: 90%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: .4rem;
    margin: .75rem;
    border-radius: 1rem;
}

#weight_tracker {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: .4rem;
    margin: .75rem;
    border-radius: 1rem;
}


#activity_log {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: .4rem;
    margin: .75rem;
    border-radius: 1rem;
}


/* 
==============
typography
==============
  */

#nav_bar > h1 {
    display: inline-block;
    font-size: 1.5rem;
}

#nav_bar > a {
    display: inline;
    text-decoration: none;
    color: white;
}

#header > h2 {
    font-weight: bolder;
    display:inline;
    margin:.75rem;
}

.logs > h3 {
    background-color: rgb(201, 200, 200);
    padding: 0 .4rem .4rem .4rem;
    margin: 0 .75rem .75rem .75rem;
    vertical-align: top;
    border-radius: 1rem;
    font-size: 1rem;
}

.logs a {
    color: black;
}

#calorie_tracker > h2 {
    background-color: rgb(201, 200, 200);
    padding: 0 .4rem .4rem .4rem;
    margin: 0 .75rem .75rem .75rem;
    vertical-align: top;
    font-size: 1rem;
    border-radius: 1rem;
}

#weight_tracker > h3 {
    background-color: rgb(201, 200, 200);
    padding: 0 .4rem .4rem .4rem;
    margin: 0 .75rem .75rem .75rem;
    vertical-align: top;
    font-size: 1rem;
    border-radius: 1rem;
}

#activity_log > h4 {
    background-color: rgb(201, 200, 200);
    padding: 0 .4rem .4rem .4rem;
    margin: 0 .75rem .75rem .75rem;
    vertical-align: top;
    font-size: 1rem;
    border-radius: 1rem;
}

/* 
==============
components 
==============
  */ 


#header > form {
    display: inline;
}

.day_button {
    display:inline;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

#calorie_tracker > p {
    margin-left: 1.25rem;
}

#weight_tracker > p {
    margin-left: 1.25rem;
}

#weight_tracker > p {
    margin-left: 1.25rem;
}

#weight_tracker > form > p {
    margin-left: 1.25rem;
    display: inline;
}

#weight_tracker > form > input {
    width: 3.12rem;
    display: inline;
}

#weight_tracker > form > button {
    display: inline;
    background-color: gray;
    color: white;
    border-radius: .4rem;
}

.remove {
    color:black;
}