body {
    background-color: rgb(78, 78, 78);
}

#wrapper{
    width: 950px;
    background-color: rgb(190, 190, 190);
    border: 5px groove  rgb(133, 133, 133);
}

#nav_bar {
    background-color: rgb(143, 143, 197);
    height: 50px;
}

#nav_bar > h1 {
    display: inline-block;
    margin-right: 550px;
    font-size: 22px;
    margin-left: 20px;
}

#nav_bar > a {
    display: inline;
    text-decoration: none;
    color: white;
}

#nav_bar > form {
    width: 150px;
    display: inline;
}