/* Table of contents
1.global styles
2. typography
3. components 
    3.1 header blocks

*/

/* 
==============
global styles
==============
  */

:root {
    font-size: 1em;
    --hue-wrong: red;
    --hue-correct: green;
}

body {
    background-color: rgb(78, 78, 78);
}

#wrapper{
    max-width: 95%;
    width: 95%;
    background-color: rgb(190, 190, 190);
    border: .4rem groove  rgb(133, 133, 133);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    align-self: center;
}

#nav_bar {
    background-color: rgb(143, 143, 197);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
}

#header {
    max-width: 90%;
    width: 90%;
    background-color: white;
    margin: .75rem;
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
}

#headerContainer{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
}

.header_block {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    max-width: 70%;
    width: 25%;
    background-color: gray;
    padding: 1rem;
    border-radius: 1.5rem;
    margin: .7rem;
}

#module-container {
    display: flex;
    justify-content: center;
}

#blogs {
    display: flex;
    flex-wrap: wrap;
    width:50%;
    max-width: 90%;
    background-color: white;
    margin: .75rem;
    padding: .75rem;
    border-radius: 1.5rem;
    align-self: center;
}


#quiz-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    max-width: 90%;
    background-color: white;
    margin: .75rem;
    padding: .75rem;
    border-radius: 1.5rem;
}

#question-container {
    max-width: 80%;
    width: 80%;
    background-color: rgb(72, 178, 194);
    border-radius: 1rem;
    padding: .75rem;
    box-shadow: 0 0 .5rem .2rem gray;
    align-self: center;
    margin: 1rem;
    font-size: 1.25rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}



footer {
    background-color: rgb(34, 34, 34);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    color: white;
    justify-content: center;
}


/* typography */


#nav_bar > h1 {
    display: flex;
    align-self: flex-start;
    font-size: 1.5rem;
    margin: 1rem;
}

#nav_links>a {
    text-decoration: none;
    color: white;
    display: flex;
    margin:1rem;
}

#nav_links{
    margin-left:auto;
    align-self: center;
}

.header_block > h3 {
    text-align: center;
}

/* components  */

.header_block:hover {
    background-color: rgb(175, 175, 175);
}

.btn-grid {
    display: grid;
    grid-template-columns:repeat(2, auto);
    gap: 1rem;
    margin: 1rem 0;
}

.btn {
    background-color: rgb(200, 223, 253);
    border-radius: .5rem;
    color: black;
    outline: none;
    border:.1rem solid rgb(200, 223, 253);
    padding: .4rem .75rem;
}

.btn:hover {
    border-color: black;
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
    border: .025rem solid gray;
    width: 10rem;
}

.controls {
    display: flex;
    justify-content:center;
    align-items: center;
}

.hide {
    display:none;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}