/* Table of contents
1.global styles
2. typography
3. components 
    3.1 profile Image
    3.2 p-tags


*/

/* 
==============
global styles
==============
  */

:root{
    font-size: 1 em; 
}

body {
    background-color: rgb(78, 78, 78);
}

#wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width: 95%;
    margin: auto;
    background-color: rgb(190, 190, 190);
    border: .4rem groove rgb(133, 133, 133);
}

#nav_bar {
    background-color: rgb(143, 143, 197);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 100%;
}

#nav_links {
    display:flex;
    justify-content: right;
    margin: 1rem;
    margin-left:auto;
    align-self: center;
}

#column_container {
    display:flex;
}

#right_column, #left_column {
    display:flex;
    flex-direction: column;
    margin: 1rem;
}

#left_column {
    max-width: 30%;
    width: 30%;
}

#right_column {
    width: 70%;
    max-width: 70%;
}

#personal_info {
    width: 95%;
    margin: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid gray;
    border-radius: 1.5rem;
    background: linear-gradient(to left, rgb(66, 66, 66), rgb(145, 145, 145));
}

.profile_bubble{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: .4rem;
    margin: .4rem;
    border-radius: 1.5rem;
}

#update_weight{
    background-color: rgb(218, 214, 214);
    border-radius: 1rem;
    padding: .5rem;
}

footer {
    background-color: rgb(34, 34, 34);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    color: white;
    justify-content: center;
}

/* 
==============
Typography
==============
*/

#nav_bar > h1 {
    display: flex;
    align-self: flex-start;
    font-size: 1.5rem;
    margin: 1rem;
}

#nav_links>a {
    text-decoration: none;
    color: white;
    margin:.25rem;
}

.profile_bubble h3 {
    background-color: rgb(201, 200, 200);
    padding: 0 .3rem .3rem .3rem;
    margin: 0 .6rem .6rem .6rem;
    font-size: 1.1rem;
    border-radius: 1.5rem;
}

#personal_info p {
    font-size: 1.5rem;
    color: rgb(78, 78, 78);
    text-shadow: .1rem .1rem white;
}



/* 
==============
Components
==============
*/

#profile_pic{
    max-width: 200px;
    border: .2rem outset gray;
    margin: .5rem;
}

.profile_bubble p{
    margin-left: 1.25rem;
}

#update_weight > form > p {
    margin-left: 1.25rem;
    display: inline;
}

#update_weight > form > input {
    width: 3.12rem;
    display: inline;
}

#update_weight > form > button {
    display: inline;
    background-color: gray;
    color: white;
    border-radius: .4rem;
}

.link{
    color:black;
}



